.app__skills {
  width: 100%;
  flex-direction: column;
  padding-top: 4rem;
}

.app__skills-list {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
}

.app__skills-item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;

  div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.2s ease-in-out;

    img {
      width: 70%;
      height: 70%;
    }

    &:hover {
      box-shadow: 0 0 25px #fef4f5;
      transform: scale(1.1);
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }
}
