.app__about {
    padding: 4rem 0 0;
    position: relative;
}

.app__social {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    z-index: 2;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.about__corner-image {
    position: absolute;
    top: 8rem;
    right: 0rem;

    width: 150px;
    pointer-events: none;
    z-index: 1;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.about__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.about__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        text-align: center;
    }
}

.about__hero-text {
    flex: 1;
    margin-left: 1rem;

    h1 {
        font-size: 3.5rem;
        font-weight: 800;
    }

    p {
        margin-top: 1rem;
        max-width: 500px;
    }

    @media screen and (max-width: 900px) {
        text-align: center;
    }
}

.about__hero-image {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        object-fit: cover;
        padding: 4px;
    }

    @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 2rem;
    }
}

.about__content {
    max-width: 1000px;
    text-align: center;
    padding: 0 1rem;

    p {
        margin-top: 1rem;
        line-height: 1.7;
    }
}