.app__footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  border-top: 1px solid var(--lightGray-color);
  text-align: center;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.2rem 0;

  a {
    font-size: 1.4rem;
    color: var(--gray-color);
    transition: all 0.3s ease;

    &:hover {
      color: var(--secondary-color);
      transform: translateY(-3px);
    }
  }
}

.footer-copy {
  font-size: 0.8rem;
  color: var(--gray-color);
}
