.app__footer {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  background-color: var(--primary-color);
  border-top: 1px solid var(--lightGray-color);
}

.app__footer-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 0.9rem;

    &:hover {
      color: var(--secondary-color);
    }
  }
}
